* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


.menu {
    display: flex;
    justify-content: space-between;
}

.body {
    font-family: sans-serif;
}

.textblock {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
}

.mainheadings {
    font-size: 64px;
    color: #1f3f68;
    width: 510px;
}

.mainpart {
    width: 425px;
}

.main__content__infoblock {
    display: flex;
    justify-content: space-between;
}

.main__content_parts {
    width: 359px;
}

.contactblock {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.headings3level {
    font-size: 36px;
    text-align: center;
}

.headings4level {
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
}

.inputblock {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.buttonblock {
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.headings3level footer {
    width: 340px;
}

.textblock footer {
    width: 495px;
}

.bottom_main_contacts_list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.contactpageblock {
    display: flex;
    justify-content: space-around;
}

.contact_map {
    display: flex;
    justify-content: center;
    width: 100%;
}